* {
  margin: 0;
  padding: 0;
}

body {
  background-color: powderblue;
}

h2 {
  text-align: center;
}

img{
  margin: 0;
  padding: 10px;
  text-align: center;
}

h6 {
  text-align: center;
  background-color: #AFD275;
}

p {
  color: black;
   padding: 5px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: darkgreen;
  color: white;
}
#content{
  padding:0;
}
.contacts{
  text-align: center; 
}
.main-title h1 {
  color: blue;
  margin: 0;
   font-size: 50px;
   text-align: center;
  background-color: #AFD275;
}
.main-title h6{
  margin: 0;
}

